// Bad example
.component {
  color: #333;

  .component-piece {
    background: #fff;

    .component-subpiece {
      border: 5px solid #555;
    }
  }
}


// Good example
.component {
  color: #333;

  .component-piece {
    background: #fff;
  }

  .component-subpiece {
    border: 5px solid #555;
  }
}
